<div class="page-header-topbar">
    <nav id="topbar" role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="topbar-main">
            <a id="logo" href="#" class="navbar-brand padding-0">
                <img src="../assets/images/workchoplogoone.svg" class="main_logo_overview" alt="Logo">
            </a>
            <div>
                <ul class="nav navbar navbar-top-links navbar-right no-margin pull-right login-dropdown">
                    <li class="dropdown user-drop-down">
                        <a class="dropdown-toggle top-bar-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <!--<i class="fa fa-user-circle-o"></i>&nbsp;-->
                            <i>
                                <img src="../assets/images/logoimage.png" />
                            </i>
                            <!--<span class="caret"></span>-->
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <div class="row no-margin p-13-25">
                                    <div class="col-md-6 col-sm-6 col-xs-12 padding-0 profile-pic">
                                        <img src="images/logoimage.png" />
                                        Bram Billiet
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 padding-0 text-right m-m-t-5">
                                        <a href="loginpage.html" class="padding-0"> <div type="button" class="btn btn-red btn-logo">LOG OUT</div></a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;">Account Setting</a>
                            </li>
                            <li><a href="#">Help</a></li>
                            <li><a class="updateandrelease" href="#">Update & Releases</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
<router-outlet></router-outlet>

