<div id="wrapper">

    <div id="">
        <div class="page-content">
            <div class="row no-margin">
                <div class="col-md-12 overview-container">
                    OVERVIEW COURSES
                </div>
            </div>
            <div class="row no-margin serach-container">

                <div class="col-md-6 col-sm-6">

                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <input class="input-box-search" placeholder="Search Course" type="text" />
                </div>

            </div>


        </div>
        <div class="row no-margin course-menu">
            <!--<div class="col-md-2 col-sm-4 padding-0">-->
            <div id="sidebar" role="navigation" class="navbar-default navbar-static-side">
                <ul class="nav nav-pills row no-margin menu-mobile">
                    <li class="col-md-12 col-sm-12 col-xs-3 padding-0 active"><a data-toggle="pill" href="#all">ALL</a></li>
                    <li class="col-md-12 col-sm-12 col-xs-4 padding-0"><a data-toggle="pill" href="#yourcourse">YOUR COURSES</a></li>
                    <li class="col-md-12 col-sm-12 col-xs-5 padding-0"><a data-toggle="pill" href="#enrolledcourse">ENROLLED COURSES</a></li>
                </ul>
            </div>
            <div id="page-wrapper">
                <div class="tab-content m-p-l-r-10">
                    <div id="all" class="tab-pane fade in active">
                        <div class="row no-margin">
                            <div class="col-md-3 col-sm-6 margin-top-25">
                                <div class="row no-margin">
                                    <div class="col-md-12 add-course-container">
                                        <div class="row no-margin">

                                            <div class="col-xs-3 visible-xs" data-toggle="modal" data-target="#myModal">
                                                <img class="addcourse-img clickable" src="images/plusicon.svg" />
                                            </div>
                                            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-4 padding-0 mobile-text-left margin-top-20-desk">
                                                <div class="no-margin course-div">CREATE COURSE </div>
                                            </div>

                                        </div>
                                        <div class="row no-margin">
                                            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-4 padding-0">
                                                <div class="Created-day mobile-text-left">
                                                    Created a new course with
                                                    new content and
                                                    attendees.
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row no-margin">
                                            <div class="col-md-12 text-center padding-0 clickable hidden-xs margin-top-35-desk" data-toggle="modal" data-target="#myModal">


                                                <img class="" src="images/plusicon.svg" />
                                            </div>
                                        </div>
                                        <!--<div class="add-course-hover hidden-xs">
                                            <div class="col-md-12 padding-0">
                                                <div class="Created-day">
                                                    Created a new course with
                                                    <div>new content and</div>
                                                    <div>attendees.</div>
                                                </div>
                                                <button type="button" class="btn btn-green-full margin-top-15" data-toggle="modal" data-target="#myModal">CREATE NEW COURSE</button>
                                            </div>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header  blue-header">
                                        <button type="button" class="close" data-dismiss="modal"><img src="images/CloseButton.svg" /></button>
                                        <h4 class="modal-title text-left white-modal-title">Create new course</h4>
                                    </div>
                                    <div class="modal-body text-left padding-15">
                                        <form>


                                            <div class="floating-group inline">

                                                <label class="floating-group__label">Subject course</label>
                                                <input class="floating-group__input" name="emailAddress" requried />
                                                <span class="floating-group__bar"></span>






                                            </div>




                                        </form>


                                    </div>
                                    <div class="modal-footer margin-top-30">
                                        <a class="padding-0" href="setting_course.html">
                                            <div type="button" class="btn btn-green-full saveandsetup no-margin">CREATE</div>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>
                    <div id="yourcourse" class="tab-pane fade">
                        <div class="row no-margin">
                            <div class="col-md-3 col-sm-6 margin-top-25">
                                <div class="row no-margin">
                                    <div class="col-md-12 add-course-container">
                                        <div class="row no-margin">

                                            <div class="col-xs-3 visible-xs" data-toggle="modal" data-target="#myModaltwo">
                                                <img class="addcourse-img clickable" src="images/plusicon.svg" />
                                            </div>
                                            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-4 padding-0 mobile-text-left margin-top-20-desk">
                                                <div class="no-margin course-div">CREATE COURSE </div>
                                            </div>

                                        </div>
                                        <div class="row no-margin">
                                            <div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-4 padding-0">
                                                <div class="Created-day mobile-text-left">
                                                    Created a new course with
                                                    new content and
                                                    attendees.
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row no-margin">
                                            <div class="col-md-12 text-center padding-0 clickable hidden-xs margin-top-35-desk" data-toggle="modal" data-target="#myModaltwo">


                                                <img class="" src="images/plusicon.svg" />
                                            </div>
                                        </div>
                                        <!--<div class="add-course-hover hidden-xs">
                                            <div class="col-md-12 padding-0">
                                                <div class="Created-day">
                                                    Created a new course with
                                                    <div>new content and</div>
                                                    <div>attendees.</div>
                                                </div>
                                                <button type="button" class="btn btn-green-full margin-top-15" data-toggle="modal" data-target="#myModal">CREATE NEW COURSE</button>
                                            </div>
                                        </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="modal fade" id="myModaltwo" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header  blue-header">
                                        <button type="button" class="close" data-dismiss="modal"><img src="images/CloseButton.svg" /></button>
                                        <h4 class="modal-title text-left white-modal-title">Create new course</h4>
                                    </div>
                                    <div class="modal-body text-left padding-15">
                                        <form>


                                            <div class="floating-group inline">

                                                <label class="floating-group__label">Subject course</label>
                                                <input class="floating-group__input" name="emailAddress" requried />
                                                <span class="floating-group__bar"></span>






                                            </div>





                                        </form>


                                    </div>
                                    <div class="modal-footer margin-top-30">

                                        <a class="padding-0" href="setting_course.html">
                                            <div type="button" class="btn btn-green-full saveandsetup no-margin">CREATE</div>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="enrolledcourse" class="tab-pane fade">


                    </div>
                </div>

            </div>
        </div>


    </div>
</div>