.border-bottom {
    border-bottom: 2px solid #ddd;
}

.login-text {
    position: absolute;
    top: 40px;
    color: #fff;
    font-size: 70px;
}

.font-bold {
    font-family: 'Roboto-Bold';
}

.diffcolor {
    color: #4df4f4;
}

.login-detail {
    background: #faf9f9;
    height: 100vh;
}

.footer-login {
    background: #4a49fb;
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    text-align: center;
    color: #b0cfe2;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.login-sign-description {
    color: #4a49fb;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

::-webkit-input-placeholder {
    color: #a3a5a6 !important;
    font-size: 12px;
    font-family: 'Roboto-Light';
}

::-moz-placeholder {
    color: #a3a5a6 !important;
    font-size: 12px;
    font-family: 'Roboto-Light';
}

:-ms-input-placeholder {
    color: #a3a5a6 !important;
    font-size: 12px;
    font-family: 'Roboto-Light';
}

:-moz-placeholder {
    color: #a3a5a6 !important;
    font-size: 12px;
    font-family: 'Roboto-Light';
}

a.forgot-password {
    text-decoration: underline !important;
    color: #8a8a8b !important;
    font-size: 10px;
}

.login-description-container {
    width: 400px;
    margin: 0 auto;
}

.login-pic {
    width: 100%;
    height: 100vh;
}

.btn-blue {
    color: #4a49fb !important;
    border-color: #4a49fb !important;
    border-radius: 100px;
    background: #fff !important;
    font-family: 'roboto.regular';
    font-size: 13px;
}

    .btn-blue:hover {
        background: #4a49fb !important;
        color: #fff !important;
        border-color: #4a49fb !important;
    }

.errorMessageColor {
    background-color: lightcoral;
}
