@font-face {
    font-family: 'roboto.regular';
    src: url('../../assets/font/roboto.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../assets/font/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../assets/font/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../assets/font/Roboto-Bold.ttf') format('truetype');
}


.no-margin {
    margin: 0px !important;
}

.padding-0 {
    padding: 0 !important;
}

.login-pic {
    width: 100%;
    height: 100vh;
}

.login-text {
    position: absolute;
    top: 40px;
    color: #fff;
    font-size: 70px;
}

.login-description-container {
    width: 400px;
    margin: 0 auto;
}

.font-bold {
    font-family: 'Roboto-Bold';
}

.diffcolor {
    color: #4df4f4;
}

.login-detail {
    background: #faf9f9;
    height: 100vh;
}

.width-100 {
    width: 100%;
}

.border-bottom {
    border-bottom: 2px solid #ddd;
}

.login-sign-description {
    color: #4a49fb;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

a.forgot-password {
    text-decoration: underline !important;
    color: #8a8a8b !important;
    font-size: 10px;
}

.footer-login {
    background: #4a49fb;
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
    text-align: center;
    color: #b0cfe2;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
}

.btn-blue {
    color: #4a49fb !important;
    border-color: #4a49fb !important;
    border-radius: 100px;
    background: #fff !important;
    font-family: 'roboto.regular';
    font-size: 13px;
}

    .btn-blue:hover {
        background: #4a49fb !important;
        color: #fff !important;
        border-color: #4a49fb !important;
    }

.margin-bottom-15 {
    margin-bottom: 15px !important;
}
