<div class="row no-margin">
    <div class="col-md-9 col-sm-9 col-xs-12 padding-0">
        <img class="login-pic" src="../../assets/images/Background_Login2.jpg" />
        <div class="row no-margin">
            <div class="col-md-12 col-sm-12 col-xs-12 login-text">
                <div class="login-description-container">
                    <p class="font-bold">YOUR</p>
                    <p class="font-bold">TEACHING</p>
                    <p class="font-bold">FLOW</p>
                    <p class="font-bold">APPLICATION</p>
                    <p class="font-bold diffcolor">workchop.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 padding-0 login-detail text-center">
        <img class="width-100 border-bottom" src="../../assets/images/workchoplogo.png" />
        <p class="login-sign-description"><span class="font-bold">Sign in</span> using your emailaddress and password.</p>
        <div class="row no-margin">
            <div class="col-sm-12">
                <form #loginForm="ngForm" id="LoginForm" method="post" novalidate (ngSubmit)="login()">
                    <div class="form-group">
                        <input [(ngModel)]="loginVM.userName" autoFocus class="form-control" type="text" autocomplete="off" placeholder="Enter your email address" name="userName" required/>
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="loginVM.password" class="form-control" type="password" autocomplete="off" placeholder="Enter your password" name="password" required/>
                    </div>
                    <button id="LoginButton" type="submit" class="btn btn-default btn-blue margin-bottom-15" [disabled]="!loginForm.form.valid">SIGN IN</button>
                    <div class="form-group">
                        <a class="forgot-password">Forgot your password?</a>
                    </div>

                </form>
            </div>
        </div>
        <div class="footer-login">Visit <span class="font-bold">workchop.Be</span> for more information</div>
    </div>
</div>
