    <div class="side-menu-button" id="side-bar-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="sidebar">
        <div class="logo-section">
            <a href="overview_course-empty.html"><img src="../assets/images/workchoplogoone.svg" class="main_logo" alt="Logo" /></a>
        </div>
        <div class="back-container">
            <h5><a href="overview_course-empty.html"><span><i class="fa fa-long-arrow-left"></i></span><span class="margin-left-5">back to overview</span></a></h5>

        </div>
        <div class="menu-con">
            <div class="menu-item-con">
                <a href="setting_course.html" class="text-decoration-none">
                    <div class="menu-item-head main-one">
                        <i class="fa fa-circle-o font-12 no-margin"></i> <span class="name-icon">COURSE HOMEPAGE</span>
                    </div>
                </a>
                <div class="menu-item-body">
                    <div class="menu-item-con submenu-one">
                        <a href="agenda.html" class="menu-item-head agenda-name"><i class="agenda-icon"></i>AGENDA</a>
                    </div>
                    <div class="menu-item-con submenu-two">
                        <a href="Content_course_empty.html" class="menu-item-head content-name"><i class="content-icon"></i>CONTENT</a>
                    </div>
                    <div class="menu-item-con submenu-three">
                        <a href="announcement_empty.html" class="menu-item-head announcement-name"><i class="announcement-icon"></i>ANNOUNCEMENTS</a>

                    </div>
                    <div class="menu-item-con submenu-four">
                        <a href="question_main.html" class="menu-item-head question-name"><i class="question-icon"></i>QUESTION</a>
                    </div>
                    <div class="menu-item-con submenu-five">
                        <a href="survey_main.html" class="menu-item-head survey-name"><i class="survey-icon"></i>SURVEY</a>
                    </div>
                </div>
                <div class="menu-item-head main-two margin-top-15">
                    <a href="attendees_course_empty.html" class="menu-item-head attendee-name"><i class="fa fa-circle-o font-12 no-margin"></i>ATTENDEE</a>
                    <!--<i class="fa fa-circle-o font-12 no-margin"></i><span class="name-icon">ATTENDEE</span>-->
                </div>
                <div class="menu-item-head main-three">
                    <a href="analysis_course_active.html" class="menu-item-head analysis-name"><i class="fa fa-circle-o font-12 no-margin"></i>ANALYSIS</a>
                    <!--<i class="fa fa-circle-o font-12 no-margin"></i> <span class="name-icon">ANALYSIS</span>-->
                </div>
            </div>

        </div>
    </div>
<div class="main-container">

    <div id="topbar">
        <div class="topbar-main">
            <!--<a id="menu-toggle" href="#" class="hidden" style="display: inline;"><i class="icon-indent-left"></i></a>-->
            <span class="visible-xs">
                <img class="workchoplogosmall" src="images/workchoplogosmall.svg" alt="Logo" />
            </span>
            <ul class="nav navbar navbar-top-links navbar-right no-margin pull-right login-dropdown">


                <li class="dropdown user-drop-down">
                    <a class="dropdown-toggle top-bar-icon" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <!--<i class="fa fa-user-circle-o"></i>&nbsp;-->
                        <i>
                            <img src="images/logoimage.png" />
                        </i>

                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <div class="row no-margin p-13-25">
                                <div class="col-md-6 col-sm-6 col-xs-12 padding-0 profile-pic">
                                    <img src="images/logoimage.png" />
                                    Bram Billiet
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12 padding-0 text-right m-m-t-5">
                                    <a href="loginpage.html" class="padding-0"> <div type="button" class="btn btn-red btn-logo">LOG OUT</div></a>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a href="#" style="border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;">Account Setting</a>
                        </li>
                        <li><a href="#">Help</a></li>
                        <li><a class="updateandrelease" href="#">Update & Releases</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>    
</div>    
